/* Text messaging style
* Attribution:
* https://codepen.io/samuelkraft/pen/Farhl
*/

.messages {
  /* font-family: "Helvetica Neue", Helvetica, sans-serif; */
  font-size: 20px;
  font-weight: normal;
  max-width: 450px;
  margin: 50px auto;
  display: flex;
  flex-direction: column; /* TODO: example code has this as column but it's stacking the <span>char</span>s*/
}

.message {
  max-width: 255px;
  word-wrap: break-word;
  margin-bottom: 12px;
  line-height: 24px;
  position: relative;
  padding: 10px 20px;
  border-radius:25px;
}

.message:before, .message:after {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 20px;
}

.message-sent {
  /* color: black;  */
  background: limegreen;
  align-self: flex-end;
}

.message-sent:before {
  right: -7px;
  border-right: 20px solid limegreen;
  border-bottom-left-radius: 16px 14px;
  transform: translate(0, -2px);
  }

.message-sent:after {
  right: -56px;
  width: 26px;
  background: black;
  border-bottom-left-radius: 10px;
  transform: translate(-30px, -2px);
}
	
.message-recd {
  background: yellow;
  color: black;
}

.message-recd:before {
  left: -7px;
  border-left: 20px solid yellow;
  border-bottom-right-radius: 16px 14px;
  transform: translate(0, -2px);
}

.message-recd:after {
  left: 4px;
  width: 26px;
  background: black;
  border-bottom-right-radius: 10px;
  transform: translate(-30px, -2px);
}
