@import url(chat.css);

@font-face {
  font-family: "Ubuntu";
  src: url("assets/font/Ubuntu-Regular.ttf") format('truetype');
}

html {
  color: limegreen;
  box-sizing: border-box;
  font-family: "Ubuntu";
}

body {
  width: auto;
  margin: 0;
  padding: 0;
  font-size: 2em;
  line-height: 1.5;
}

canvas {
  display: block;
}

.luna-title {

}

.luna-base {

}

.luna-bliss {

}

.luna-blah {

}

.luna-bad {

}
