@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

@import url(chat.css);

@import url(typing.css);

@font-face {
  font-family: "Inconsolata", monospace;
  src: url("assets/font/Inconsolata/Inconsolata-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Ubuntu";
  src: url("assets/font/Ubuntu-Regular.ttf") format('truetype');
}

html {
  /* background: black; TODO: this is a hack to fix the white band when mirroring the screen */
  color: limegreen;
  box-sizing: border-box;
  font-family: "Inconsolata";
}

body {
  width: auto;
  margin: 0;
  padding: 0;
  font-size: 2em;
  line-height: 1.5;
}

canvas {
  display: block;
}

.luna-title {

}

.luna-base {

}

.luna-bliss {

}

.luna-blah {

}

.luna-bad {

}
